*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* My Styles */

:root {
    --container-color: linear-gradient(135deg, #5e0c5e, #23235d);
    --app-color: #f5ecec;
    --side-nav-color: #8b9ab2;
    --side-nav-text-color: #3c3939;
    --content-color: radial-gradient( circle farthest-corner at right, #ae48c3, #320b43);
    --add-task-color: #ad9e9e5d;
    --input-font: 'Iosevka Charon Mono';
}

/* Container */
.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: var(--container-color);
    background-repeat: repeat-y;
    display: grid;
    place-items: center;
}

/* To do app */
.app{
    margin: auto;
    background: var(--app-color);
    padding: 0px;
    width: 130vh;
    height: 90vh;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
}

/* Side-nav */
.side-nav{
    background: var(--side-nav-color);
    height: 100%;
    width: 30vh;
    padding: 20px;
    margin: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    /* Side-nav inner-positioning */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;

}

/* Logo */
img{
    margin: 20px 0 30px 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

/* Inner Content */
.content{
    background: var(--content-color);
    height: 100%;
    width: 100%;
    padding: 20px;
    margin: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    /* Inner positioning */
    display: grid;
    grid-template-areas: 
    "box-1 box-1"
    "box-1 box-1";
}

/* Adding task */
.add-task{
    width: 50vh;
    height: 5vh;
    background: var(--add-task-color);
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: solid 1px black;
    box-shadow: 1px 3px 3px black;
}

input{
    font-family: var(--input-font);
    border: none;
    outline: none;
    background: transparent;
    color: black;
    height: 80px;
}

input::placeholder{
    color: black;
    font-size: 20px
}

i{
    font-size: 30px;
    cursor: pointer;
}

/* Task List */

.task-list{
    width: 60vh;
    height: 30vh;
    margin: 20px 20px 20px 20px;
    border: solid 1px gray;
    padding: 20px;
    border-radius: 20px;

    /* Inner positioning */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}