*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* My Styles */

:root {
    --container-color: linear-gradient(135deg, #5e0c5e, #23235d);
    --app-color: #f5ecec;
    --side-nav-color: #8b9ab2;
    --side-nav-text-color: #3c3939;
    --content-color: radial-gradient( circle farthest-corner at right, #ae48c3, #320b43);
    --add-task-color: #ad9e9e5d;
    --download-btn: #948c8c91;
    --greeting-color: #6bf56bb1;
    --span-color: #eee5e5c0;
    --input-font: 'Iosevka Charon Mono';
}

/* Container */
.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: var(--container-color);
    background-repeat: repeat-y;
    display: grid;
    place-items: center;
}

/* To do app */
.app{
    margin: auto;
    background: var(--app-color);
    padding: 0px;
    width: 170vh;
    height: 98vh;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
}

/* Side-nav */
.side-nav{
    background: var(--side-nav-color);
    height: 100%;
    width: 30vh;
    padding: 20px;
    margin: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    /* Side-nav inner-positioning */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;

}

/* Navigation */
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: var(--side-nav-text-color);
    font-size: 20px;
    margin: 20px 10px 30px 0;
    display: flex;
    justify-content: flex-start;
    transition: ease-in-out 0.5s;
}

nav a:hover{
    color: white;
}

nav a i{
    margin: auto 10px;
    cursor: pointer;
}

/* Logo */
img{
    margin: 20px 0 30px 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

/* Inner Content */
.content{
    background: var(--content-color);
    height: 100%;
    width: 100%;
    padding: 20px;
    margin: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    /* Inner positioning */
    display: grid;
    grid-template-areas:
    "box box box" 
    "box-1 box-1 box-4"
    "box-1 box-1 box-4"
    "box-2 box-3 box-5"
    "box-2 box-3 box-5";
    gap: 20px;
}

/* Top-right-corner */
.top-right-corner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-right-corner i{
    margin: auto 10px;
    font-size: 30px;
    color: black;
    cursor: pointer;
}

/* Adding task */
.add-task{
    width: 50vh;
    height: 5vh;
    background: var(--add-task-color);
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: solid 1px black;
    box-shadow: 1px 3px 3px black;
}

input{
    font-family: var(--input-font);
    border: none;
    outline: none;
    background: transparent;
    color: black;
    height: 80px;
    font-size: 25px;
    margin-left: 0px;
}

input::placeholder{
    color: black;
    font-size: 20px;
    padding: 10px;
}

.fa-plus{
    font-size: 30px;
    cursor: pointer;
}

/* Task List */

.task-list{
    width: 89h;
    height: 40vh;
    border: solid 1px gray;
    padding: 20px;
    border-radius: 10px;

    /* Inner positioning */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.task-list header{
    display: flex;
    align-items: center;
}

.task-list h3{
    font-family: var(--input-font);
    color: rgb(115, 210, 21);
    font-size: 25px;
}

.task-list .fa-list-check{
    color: #8b9ab2;
    font-size: 25px;
    margin-right: 10px;
}

/* Task list */
.task-list ul{
    list-style-type: none;
    margin: 10px 0 20px;
}

.task-list li::before{
    content:"";
    background-image: url(./Images/toggle-off-solid.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 20%;
    left: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 20px;
}

.task-list li {
    display: flex;
    align-items: center;
    margin: 20px 0 20px;
    width: 70vh;
    height: 5vh;
    background: #f5ecec68;
    border-radius: 10px;
    padding: 20px 30px;
    color: black;
    position: relative;
}

/* Head */
.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Download button */
.download-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px gray;
    background: var(--download-btn);
    width: 20vh;
    height: 5vh;
    color: var(--side-nav-text-color);
    font-family: var(--input-font);
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.download-btn:hover{
    background: white;
}

/* Span */
span{
    font-family: var(--input-font);
    font-size: 30px;
    color: var(--span-color);
}

/* Greeting */
.greeting{
    color: var(--greeting-color);
}

/* Uncompleted task */
.Uncompleted-task{
    border: 1px solid gray;
    width: 55vh;
    height: 40vh;
    border-radius: 10px;
    padding: 20px;
}

.Uncompleted-task header{
    display: flex;
    align-items: center;
}

.Uncompleted-task h3{
    font-family: var(--input-font);
    color: rgb(249, 36, 47);
    font-size: 25px;
}

.Uncompleted-task i{
    margin-right: 10px;
    color: #e6d9d99c;
    font-size: 20px;
}

.Uncompleted-task li::before{
    content:"";
    background-image: url(./Images/toggle-off-solid.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 20%;
    left: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 20px;
}

.Uncompleted-task li {
    display: flex;
    align-items: center;
    margin: 20px 0 20px;
    width: 50vh;
    height: 5vh;
    background: #f5ecec68;
    border-radius: 10px;
    padding: 20px 30px;
    color: black;
    position: relative;
}

/* Completed task */
.completed-task{
    height: 40vh;
    width: 40vh;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 30px;
}

.completed-task header{
    display: flex;
    align-items: center;
}

.completed-task h3{
    font-family: var(--input-font);
    color: rgb(71, 227, 71);
    font-size: 25px;
}

.completed-task i{
    margin-right: 10px;
    color: #e6d9d99c;
    font-size: 25px;
}

.completed-task li::before{
    content:"";
    background-image: url(./Images/toggle-on-solid.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 20%;
    left: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 20px;
}

.completed-task li {
    display: flex;
    align-items: center;
    margin: 20px 0 20px;
    width: 34vh;
    height: 5vh;
    background: #f5ecec68;
    border-radius: 10px;
    padding: 20px 30px;
    color: black;
    position: relative;
}

/* active task */
.active-task{
    border: 1px solid gray;
    width: 40vh;
    border-radius: 10px;
    padding: 30px;
}

.active-task h3{
    font-family: var(--input-font);
    color: rgb(236, 240, 45);
    font-size: 25px;
}

.active-task li::before{
    content:"";
    background-image: url(./Images/toggle-off-solid.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 20%;
    left: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 20px;
}

.active-task li {
    display: flex;
    align-items: center;
    margin: 20px 0 20px;
    width: 34vh;
    height: 5vh;
    background: #f5ecec68;
    border-radius: 10px;
    padding: 20px 30px;
    color: black;
    position: relative;
}

/* Analysis */
.analysis{
    border: solid 1px gray;
    border-radius: 10px;
    padding: 30px;
}

.analysis header{
    display: flex;
    align-items: center;
}

.analysis h3{
    font-family: var(--input-font);
    color: rgb(25, 109, 244);
    font-size: 25px;
}

.analysis .fa-chart-simple{
    font-size: 25px;
    color: #8b9ab2;
    margin-right: 10px;
}
